{
    admin off
}

(app_common) {
    root * /app/public
    encode zstd br gzip
    php_server
}

{$APP_DOMAIN} {
    import app_common

    header {
        -Server
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}

127.0.0.1 {
    import app_common
}
